<nav>
    <ul>
        <li>
            <a routerLink="/personalista" class="icon">
                <mat-icon>business</mat-icon>
            </a>
        </li>
        <li><a routerLink="/personalista">Medicos</a></li>
        <li><a routerLink="/hospitales">Hospitales</a></li>
        <li><a routerLink="/departamentos">Departamentos</a></li>
        <li><a routerLink="/consultas">Consultas</a></li>
        <li><a routerLink="/pasientes">Pasientes</a></li>
        <!-- Agrega aquí otros enlaces de navegación -->
    </ul>
    <a class="a"  (click)="cerrarSesion()">Cerrar Sesión</a>
</nav>