<!-- usamos la metodologia bem para usar scss -->
<app-navbar></app-navbar>
<div class="containerPersona">
    <div class="containerPersona__sub">
        <div class="containerPersona__sub--title">
            <h1>Departamentos</h1>
            <button (click)="openCreateModal()">Crear</button>
        </div>
        <div class="containerPersona__sub--table">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let departamento of departamentos">
                        <td><b>{{ departamento.nombre }}</b></td>
                        <td>{{ departamento.descripcion }}</td>
                        <td>
                            <button (click)="openEditModal(departamento)">Editar</button>
                            <button (click)="deleteDepartamento(departamento)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

