<div class="containerLogin">
  <div class="containerLogin__content">
    <div class="containerLogin__content--title">
      <h2>SafeRoom</h2>
    </div>
    <form class="containerLogin__content--form" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="content">
        <label>Email:</label>
        <input type="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="content">
        <label>Password:</label>
        <input type="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">INICIAR SESION</button>
      <a class="button" href="/register">REGISTRATE AQUI</a>
    </form>
  </div>
  
</div>
<div class="loading-spinner" *ngIf="loading">
  <div class="overlay"></div>
  <mat-spinner diameter="50"></mat-spinner>
</div>

