<!-- usamos la metodologia bem para usar scss -->
<app-navbar></app-navbar>
<div class="containerPersona">
    <div class="containerPersona__sub">
        <div class="containerPersona__sub--title">
            <h1>Hospitales</h1>
            <button (click)="openCreateModal()">Crear</button>
        </div>
        <div class="containerPersona__sub--table">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hospital of hospitales">
                        <td><b>{{ hospital.nombre }}</b></td>
                        <td>{{ hospital.direccion }}</td>
                        <td>{{ hospital.ciudad }}</td>
                        <td>{{ hospital.pais }}</td>
                        <td>{{ hospital.telefono }}</td>
                        <td>
                            <button (click)="openEditModal(hospital)">Editar</button>
                            <button (click)="deleteHospital(hospital)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
