<!-- componente del modal -->
<!-- Titulo -->
<h2 mat-dialog-title>{{ data.action === 'create' ? 'Crear' : 'Editar' }}</h2>
<mat-dialog-content>
  <!-- formulario -->
  <form class="form" #personaForm="ngForm">
    <!-- contenido -->
    <div class="form__container">
      <label class="form__container--label" for="">Nombre</label>
      <input class="form__container--input" matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
    </div>
    <div class="form__container">
      <label class="form__container--label" for="">Apellido paterno</label>
      <input class="form__container--input" matInput placeholder="Apellido Paterno" [(ngModel)]="data.ap_paterno" name="ap_paterno" required>
    </div>
    <div class="form__container">
      <label class="form__container--label" for="">Apellido materno</label>
      <input class="form__container--input" matInput placeholder="Apellido Materno" [(ngModel)]="data.ap_materno" name="ap_materno" required>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- botones -->
  <div class="container__button">
    <button class="container__button--button" mat-button [mat-dialog-close]="false">Cancelar</button>
    <button class="container__button--button" mat-button [mat-dialog-close]="personaForm.valid && data">Guardar</button>
  </div>
</mat-dialog-actions>