<div class="containerLogin">
    <div class="containerLogin__content">
        <div class="containerLogin__content--title">
            <h2>Registro</h2>
        </div>
        <form class="containerLogin__content--form" (ngSubmit)="register()" #registerForm="ngForm">
            <div class="content">
                <label>Name:</label>
                <input type="text" name="name" [(ngModel)]="name" required>
            </div>
            <div class="content">
                <label>Email:</label>
                <input type="email" name="email" [(ngModel)]="email" required email>
            </div>
            <div class="content">
                <label>Password:</label>
                <input type="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit">REGISTRARSE</button>
            <a href="/login" class="button">Volver</a>
        </form>
    </div>

</div>